<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
</head>

<body>
  <div style="padding: 4rem">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
        <div class="col-md-12">
          <h1>Post an Ad</h1>
          <form role="form" method="POST" action="/add-product">
            <div class="form-group">
              <label for="title"> Product Name </label>
              <input type="text" class="form-control" name="title" id="title" />
            </div>
            <div class="form-group">
              <label for="imageUrl"> Image URL </label>
              <input
                type="text"
                class="form-control"
                name="imageUrl"
                id="imageUrl"
              />
            </div>
            <div class="form-group">
              <label for="price"> Price </label>
              <input type="text" class="form-control" name="price" id="price" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
        </div>

        <div class="col">
          <h1>Search the product</h1>
          <form role="form" method="POST" action="/search-product">
            <div class="form-group">
              <label for="title"> Search Prod </label>
              <input type="text" class="form-control" name="title" id="title1" />
            </div>
            

            <button type="submit" class="btn btn-primary" >Search</button>
          </form>
        </div>
        </div>

        </div>


      </div>
      <br />
      <br />
      <br />
      <br />
     <!-- <div class="row">
        <div class="col-md-12">
          <h1>Products Up for Sale</h1>
          <%- include('./productList.ejs') %>
           <div class="card">
            <h5 class="card-header">Product Name</h5>
            <div class="card-body">
              <p class="card-text">Image</p>
            </div>
            <div class="card-footer">Price</div>
          </div> -->
        </div>
      </div> -->
    </div>
  </div>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>
</body>
